.root {

    -fx-font-family: Arial;

    -fx-background-color: #f4f6f9;
}

.button {

    -fx-background-color: #1976d2;

    -fx-text-fill: white;

    -fx-font-weight: bold;
}

.button:hover {

    -fx-background-color: #0d47a1;
}

.titulo {

    -fx-font-size: 24px;

    -fx-font-weight: bold;
}

.table-view {

    -fx-background-radius: 10;
}
